apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
imageGCHighThresholdPercent: {{ k3s_image_gc_high_threshold_percent }}
imageGCLowThresholdPercent: {{ k3s_image_gc_low_threshold_percent }}
imageMinimumGCAge: {{ (k3s_image_gc_minimum_age_minutes | string ~ 'm') | to_json }}
imageMaximumGCAge: {{ (k3s_image_gc_maximum_age_hours | string ~ 'h') | to_json }}
